<div class="example-container">
  <form class="example-form">
    <label><h1>Escolha sua categoria de filme</h1></label>
    <input matInput placeholder="Ex. Ação, Romance..."
           name="categoria"
           [(ngModel)]="categoriaSelecionada"
           (ngModelChange)="Categoria($event)">
  </form>
  <ul>
    <li *ngFor="let filme of filmesFiltrados">
     <h2> {{filme.titulo}} ({{filme.categoria}})</h2>
      <img [src]="filme.urlImagem" alt="{{filme.titulo}}">
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
